/**
 * Theme Name: Baylys (nordblog.net Edition)
 * Theme URI: https://bitbucket.org/MarkyMarkNo1/wp-theme-baylys-child
 * Author: MarkyMarkNo1
 * Author URI: https://bitbucket.org/MarkyMarkNo1
 * Description: The Baylys WordPress theme is a minimal, responsive WordPress theme by Elmastudio that can be used as a blog and/or portfolio theme. Features include a theme options page, left, right or no sidebar layout options, a header image or slider option, portfolio, fullwidth and no sidebar page template and many more.
 *
 * Version: 1.1
 * Tags: responsive, light, white, one-column, two-columns, right-sidebar, left-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, flexible-header, full-width-template, post-formats, theme-options, translation-ready
 *
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Template: baylys
 *
 */


@parentTheme: '../baylys';

// Use @import, to borrow the style sheet from the Baylys parent theme
@import url('@{parentTheme}/style.css');

// Now you can start adding your own styles here. Use !important to overwrite styles if neccessary.


/*
 * =====================================================================
 *
 * Basic theme adjustments
 *
 * =====================================================================
 */

html {
  // http://css-tricks.com/snippets/css/force-vertical-scrollbar/
  overflow-y: scroll;
}

/*
 * Workaround: sticky footer
 * Setting #main-wrap height to apply some kind of sticky footer:
 * 100vh - padding - #wpadminbar - #header - #footer
 */
#main-wrap {
  min-height: calc(~"100vh -" (85px + 46px + 63px + 152px));
  @media screen and (min-width: 768px) {
    min-height: calc(~"100vh -" (160px + 46px + 83px + 212px));
  }
  @media screen and (min-width: 783px) {
    min-height: calc(~"100vh -" (160px + 32px + 83px + 212px));
  }
  @media screen and (min-width: 1024px) {
    min-height: calc(~"100vh -" (170px + 32px + 143px + 212px));
  }
  @media screen and (min-width: 1180px) {
    min-height: calc(~"100vh -" (190px + 32px + 138px + 182px));
  }
}

#content {

  // Normalize for Infinite Scrolls' wrapped appended posts capability
  .post:first-of-type {
    // Re-applying themes' .post defaults
    padding-top: 30px;
    @media screen and (min-width: 1180px) {
      padding-top: 50px;
    }
    background: url("@{parentTheme}/images/post-border.png") 0 top no-repeat;
  }

  > .post:first-of-type {
    // In fact, the theme intends following styles for the very very first post only
    padding-top: 0;
    background: none;
  }

  // 404 page
  .error404 .entry-header h1.entry-title {
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      padding-bottom: 45px;
    }
  }
}

// Footer
#site-info p {
  padding-right: 50px;
}


/*
 * =====================================================================
 *
 * Plugin Jetpack: Infinite Scroll
 *
 * http://jetpack.me/support/infinite-scroll/
 *
 * =====================================================================
 */

.infinite-scroll #nav-below {
  // Hides navigation links when infinite scroll is active
  display: none;
}


/*
 * =====================================================================
 *
 * Plugin WP-PageNavi
 *
 * https://wordpress.org/plugins/wp-pagenavi/
 *
 * =====================================================================
 */

.wp-pagenavi {
  @media screen and (min-width: 1180px) {
    padding-right: 7.142857142857143%;
  }
}
