/**
 * Theme Name: Baylys (nordblog.net Edition)
 * Theme URI: https://bitbucket.org/MarkyMarkNo1/wp-theme-baylys-child
 * Author: MarkyMarkNo1
 * Author URI: https://bitbucket.org/MarkyMarkNo1
 * Description: The Baylys WordPress theme is a minimal, responsive WordPress theme by Elmastudio that can be used as a blog and/or portfolio theme. Features include a theme options page, left, right or no sidebar layout options, a header image or slider option, portfolio, fullwidth and no sidebar page template and many more.
 *
 * Version: 1.1
 * Tags: responsive, light, white, one-column, two-columns, right-sidebar, left-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, flexible-header, full-width-template, post-formats, theme-options, translation-ready
 *
 * License: GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Template: baylys
 *
 */
@import url('../baylys/style.css');
/*
 * =====================================================================
 *
 * Basic theme adjustments
 *
 * =====================================================================
 */
html {
  overflow-y: scroll;
}
/*
 * Workaround: sticky footer
 * Setting #main-wrap height to apply some kind of sticky footer:
 * 100vh - padding - #wpadminbar - #header - #footer
 */
#main-wrap {
  min-height: calc(100vh - 346px);
}
@media screen and (min-width: 768px) {
  #main-wrap {
    min-height: calc(100vh - 501px);
  }
}
@media screen and (min-width: 783px) {
  #main-wrap {
    min-height: calc(100vh - 487px);
  }
}
@media screen and (min-width: 1024px) {
  #main-wrap {
    min-height: calc(100vh - 557px);
  }
}
@media screen and (min-width: 1180px) {
  #main-wrap {
    min-height: calc(100vh - 542px);
  }
}
#content .post:first-of-type {
  padding-top: 30px;
  background: url("../baylys/images/post-border.png") 0 top no-repeat;
}
@media screen and (min-width: 1180px) {
  #content .post:first-of-type {
    padding-top: 50px;
  }
}
#content > .post:first-of-type {
  padding-top: 0;
  background: none;
}
#content .error404 .entry-header h1.entry-title {
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  #content .error404 .entry-header h1.entry-title {
    padding-bottom: 45px;
  }
}
#site-info p {
  padding-right: 50px;
}
/*
 * =====================================================================
 *
 * Plugin Jetpack: Infinite Scroll
 *
 * http://jetpack.me/support/infinite-scroll/
 *
 * =====================================================================
 */
.infinite-scroll #nav-below {
  display: none;
}
/*
 * =====================================================================
 *
 * Plugin WP-PageNavi
 *
 * https://wordpress.org/plugins/wp-pagenavi/
 *
 * =====================================================================
 */
@media screen and (min-width: 1180px) {
  .wp-pagenavi {
    padding-right: 7.142857142857143%;
  }
}
